# Robo a repartidor

In [ ]:
from criminologia_cdmx.etl import *
from criminologia_cdmx.covariables import *
from criminologia_cdmx.modelos import *
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import geopandas as gpd
import seaborn as sns
from shapely.geometry import Polygon
import contextily as ctx
import requests

In [ ]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
carpetas = get_carpetas_desde_archivo("datos/descargas/carpetas_fiscalia.csv")
carpetas = agrega_ids_espaciales(carpetas)

## Por Colonias

In [ ]:
fecha_inicio = "01-01-2019"
fecha_fin = "31-12-2019"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor SV')
Y = Y.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2019'}, axis=1)

fecha_inicio = "01-01-2020"
fecha_fin = "31-12-2020"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y1 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor SV')
Y1 = Y1.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2020'}, axis=1)

fecha_inicio = "01-01-2021"
fecha_fin = "31-12-2021"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y2 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor SV')
Y2 = Y2.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2021'}, axis=1)
total_sv = reduce(lambda left, right: left.merge(right, on='colonia_cve'), [Y, Y1, Y2])
total_sv

,colonia_cve,Robo a repartidor SV 2019,Robo a repartidor SV 2020,Robo a repartidor SV 2021
0,32,0.0,0.0,0.0
1,619,0.0,0.0,0.0
2,1792,0.0,0.0,0.0
3,1774,0.0,0.0,0.0
4,583,0.0,0.0,0.0
...,...,...,...,...
1819,1731,0.0,1.0,0.0
1820,1801,0.0,0.0,0.0
1821,1799,0.0,0.0,0.0
1822,1800,0.0,0.0,0.0
1823,1824,0.0,0.0,0.0

In [ ]:
fecha_inicio = "01-01-2019"
fecha_fin = "31-12-2019"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor CV')
Y = Y.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2019'}, axis=1)

fecha_inicio = "01-01-2020"
fecha_fin = "31-12-2020"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y1 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor CV')
Y1 = Y1.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2020'}, axis=1)

fecha_inicio = "01-01-2021"
fecha_fin = "31-12-2021"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y2 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, nombre_y='Robo a repartidor CV')
Y2 = Y2.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2021'}, axis=1)

total_cv = reduce(lambda left, right: left.merge(right, on='colonia_cve'), [Y, Y1, Y2])
total_cv

,colonia_cve,Robo a repartidor CV 2019,Robo a repartidor CV 2020,Robo a repartidor CV 2021
0,32,0.0,0.0,0.0
1,619,0.0,0.0,0.0
2,1792,1.0,0.0,0.0
3,1774,0.0,0.0,0.0
4,583,0.0,1.0,0.0
...,...,...,...,...
1819,1731,7.0,0.0,12.0
1820,1801,0.0,0.0,0.0
1821,1799,1.0,2.0,5.0
1822,1800,7.0,2.0,1.0
1823,1824,0.0,0.0,0.0

In [ ]:
total = total_sv.merge(total_cv, on='colonia_cve')
total

,colonia_cve,Robo a repartidor SV 2019,Robo a repartidor SV 2020,Robo a repartidor SV 2021,Robo a repartidor CV 2019,Robo a repartidor CV 2020,Robo a repartidor CV 2021
0,32,0.0,0.0,0.0,0.0,0.0,0.0
1,619,0.0,0.0,0.0,0.0,0.0,0.0
2,1792,0.0,0.0,0.0,1.0,0.0,0.0
3,1774,0.0,0.0,0.0,0.0,0.0,0.0
4,583,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
1819,1731,0.0,1.0,0.0,7.0,0.0,12.0
1820,1801,0.0,0.0,0.0,0.0,0.0,0.0
1821,1799,0.0,0.0,0.0,1.0,2.0,5.0
1822,1800,0.0,0.0,0.0,7.0,2.0,1.0
1823,1824,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
total.to_csv("datos/descargas/robo_repartidor_colonias_19-21.csv", index=False)

## Por manzanas

In [ ]:
fecha_inicio = "01-01-2019"
fecha_fin = "31-12-2019"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                         fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor SV')
Y = Y.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2019'}, axis=1)

fecha_inicio = "01-01-2020"
fecha_fin = "31-12-2020"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y1 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio,  
                          fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor SV')
Y1 = Y1.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2020'}, axis=1)

fecha_inicio = "01-01-2021"
fecha_fin = "31-12-2021"
delito = ['ROBO A REPARTIDOR SIN VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO SIN VIOLENCIA']
Y2 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor SV')
Y2 = Y2.rename({'Robo a repartidor SV': 'Robo a repartidor SV 2021'}, axis=1)
total_sv = reduce(lambda left, right: left.merge(right, on='manzana_cvegeo'), [Y, Y1, Y2])
total_sv

,manzana_cvegeo,Robo a repartidor SV 2019,Robo a repartidor SV 2020,Robo a repartidor SV 2021
0,0901000010898031,0.0,0.0,0.0
1,0901000012269024,0.0,0.0,0.0
2,0901000011472068,0.0,0.0,0.0
3,0901000011824024,0.0,0.0,0.0
4,0901000012377004,0.0,0.0,0.0
...,...,...,...,...
66314,0900700015376020,0.0,0.0,0.0
66315,0900700015376021,0.0,0.0,0.0
66316,0900700013045056,0.0,0.0,0.0
66317,0900700013045032,0.0,0.0,0.0
66318,0900700011848016,0.0,0.0,0.0

In [ ]:
fecha_inicio = "01-01-2019"
fecha_fin = "31-12-2019"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor CV')
Y = Y.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2019'}, axis=1)

fecha_inicio = "01-01-2020"
fecha_fin = "31-12-2020"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y1 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor CV')
Y1 = Y1.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2020'}, axis=1)

fecha_inicio = "01-01-2021"
fecha_fin = "31-12-2021"
delito = ['ROBO A REPARTIDOR CON VIOLENCIA', 
          'ROBO A REPARTIDOR Y VEHICULO CON VIOLENCIA']
Y2 = variable_dependiente(carpetas, 'delito', delito, fecha_inicio, 
                           fecha_fin, agregacion='manzanas', nombre_y='Robo a repartidor CV')
Y2 = Y2.rename({'Robo a repartidor CV': 'Robo a repartidor CV 2021'}, axis=1)

total_cv = reduce(lambda left, right: left.merge(right, on='manzana_cvegeo'), [Y, Y1, Y2])
total_cv

,manzana_cvegeo,Robo a repartidor CV 2019,Robo a repartidor CV 2020,Robo a repartidor CV 2021
0,0901000010898031,0.0,0.0,0.0
1,0901000012269024,0.0,0.0,0.0
2,0901000011472068,0.0,0.0,0.0
3,0901000011824024,0.0,0.0,0.0
4,0901000012377004,0.0,0.0,0.0
...,...,...,...,...
66314,0900700015376020,0.0,0.0,0.0
66315,0900700015376021,0.0,0.0,0.0
66316,0900700013045056,0.0,0.0,0.0
66317,0900700013045032,0.0,1.0,0.0
66318,0900700011848016,0.0,0.0,0.0

In [ ]:
total = total_sv.merge(total_cv, on='manzana_cvegeo')
total

,manzana_cvegeo,Robo a repartidor SV 2019,Robo a repartidor SV 2020,Robo a repartidor SV 2021,Robo a repartidor CV 2019,Robo a repartidor CV 2020,Robo a repartidor CV 2021
0,0901000010898031,0.0,0.0,0.0,0.0,0.0,0.0
1,0901000012269024,0.0,0.0,0.0,0.0,0.0,0.0
2,0901000011472068,0.0,0.0,0.0,0.0,0.0,0.0
3,0901000011824024,0.0,0.0,0.0,0.0,0.0,0.0
4,0901000012377004,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
66370,0900700015376020,0.0,0.0,0.0,0.0,0.0,0.0
66371,0900700015376021,0.0,0.0,0.0,0.0,0.0,0.0
66372,0900700013045056,0.0,0.0,0.0,0.0,0.0,0.0
66373,0900700013045032,0.0,0.0,0.0,0.0,1.0,0.0
66374,0900700011848016,0.0,0.0,0.0,0.0,0.0,0.0

## Agregar id de colonia al de manzana

In [ ]:
manzanas_colonias = (gpd
                    .read_file("datos/descargas/manzanas_identificadores.gpkg", layer="manzanas")
                    .rename({"CVEGEO": 'manzana_cvegeo'}, axis=1))
manzanas_colonias.head()

,manzana_cvegeo,CVE_ENT,CVE_MUN,CVE_LOC,CVE_AGEB,CVE_MZA,AMBITO,TIPOMZA,colonia_cve,colonia_nombre,cuadrante_id,geometry
0,0901000010898031,09,010,0001,0898,031,Urbana,TÃ­pica,1119,HERON PROAL,017,"POLYGON ((2790204.135 820779.247, 2790125.593 ..."
1,0901000012269024,09,010,0001,2269,024,Urbana,TÃ­pica,1082,LOMAS DE TARANGO,014,"POLYGON ((2791387.916 821465.156, 2791376.215 ..."
2,0901000011472068,09,010,0001,1472,068,Urbana,TÃ­pica,1030,GRAL A ROSALES,011,"POLYGON ((2788494.355 822775.106, 2788478.422 ..."
3,0901000011824024,09,010,0001,1824,024,Urbana,TÃ­pica,1135,SAN CLEMENTE,0110,"POLYGON ((2790870.494 819456.298, 2790862.256 ..."
4,0901000012377004,09,010,0001,2377,004,Urbana,TÃ­pica,1081,HOGAR Y REDENCION,018,"POLYGON ((2792111.138 821977.886, 2792115.437 ..."

In [ ]:
total.describe()

,Robo a repartidor SV 2019,Robo a repartidor SV 2020,Robo a repartidor SV 2021,Robo a repartidor CV 2019,Robo a repartidor CV 2020,Robo a repartidor CV 2021
count,66375.000000,66375.000000,66375.000000,66375.000000,66375.000000,66375.0000
mean,0.010531,0.007879,0.007518,0.040919,0.027028,0.0218
std,0.187507,0.108743,0.098138,0.234979,0.178191,0.1585
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000
max,34.000000,10.000000,6.000000,13.000000,6.000000,5.0000

In [ ]:
total = total.merge(manzanas_colonias[['manzana_cvegeo', 'colonia_cve']], on='manzana_cvegeo')
total.to_csv("datos/descargas/robo_repartidor_manzanas_19-21.csv", index=False)

In [ ]:
manzanas_colonias.TIPOMZA.unique()

array(['TÃ­pica', 'Contenida', 'Edificio-Manzana', 'Contenedora',
       'Bajo Puente', 'CamellÃ³n', 'AtÃ­pica', 'Parque o JardÃ­n',
       'Glorieta', 'EconÃ³mica'], dtype=object)